body{
	
	background: url(../images/QuizBackground.jpg);
	color: white;
	text-align: center;
}
#logo { 

	color: black;
	padding: 20px;

 }

#quiz, #done{

	 background: rgb(30, 30, 30); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(30, 30, 30, .75);

    padding: 50px;

}

